MERGEN_USERNAME="my-fancy-username"
MERGEN_PASSWORD="[PASSWORD]"

# S3 env vars for upload & retrieve ext4 files
S3_ACCESS_KEY="xxxx"
S3_SECRET_KEY="xxxx"
S3_ENDPOINT="https://s3.amazonaws.com"
S3_REGION="us-east-1"
S3_BUCKET="mergen-fire"
S3_PATH="images"
S3_FORCE_PATH_STYLE=true

